RewriteEngine on 
AuthType Basic
AuthName "dev"
AuthUserFile /var/www/.htpasswd
Require valid-user


#RewriteCond %{HTTP_HOST} ^107\.170\.3\.242$ [OR]
#RewriteCond %{HTTP_HOST} ^www.mundopremiado.com.br$
#RewriteRule (.*) http://mundopremiado.com.br/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

