
/* ------------------------------------------------------- 

* Filename:     AngularJS Dynamic Form Fields
* Website:      http://www.shanidkv.com
* Description:  Shanidkv AngularJS blog
* Author:       Shanid KV shanidkannur@gmail.com

---------------------------------------------------------*/

*{
    font-family: arial;
    font-size: 13px;
}

fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
    margin-bottom: 10px;
}


fieldset .remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 3px 9px;
    vertical-align: top;
    line-height: 100%;   
}


.premios{
    background-color: #EFEFEF;
    padding: 10px 5px;
    margin-top: 10px;
}

.premios textarea{
    width: 100%;
}

.premios fieldset{
    background-color: inherit;
    padding: 0px;
    border: 0px solid #D5D5D5;
}

.premios select[type="number"],
.premios input[type="number"],
.premios input[type="text"]{
    padding:5px;
}

.premios .text_quantidade{
    width: 15%;
    text-align: center;
    font-weight: bold;
}

.premios .categoria{
    width: 10%;

}

.premios .text_valor{
    width: 15%;

}

.premios .text_nome{

    width: -moz-calc(70% - 39px);

    /* WebKit */
    width: -webkit-calc(70% - 39px);

    /* Opera */
    width: -o-calc(70% - 39px);

    /* Standard */
    width: calc(70% - 39px);
}

